In [ ]:
# 6009
'''
문자(character)는
0\~9, a\~z, A\~Z, !, @, #, {, [, <, ... 과 같이 
길이가 1인 기호라고 할 수 있다.

변수에 문자 1개를 저장한 후
변수에 저장되어 있는 문자를 그대로 출력해보자.

예시
c = input()  
print(c)
'''

In [1]:
c = input()
print(c)

3
3

In [4]:
# 6010
'''
정수(integer)는
양의 정수(1, 2, 3, 4, 5, ...), 음의 정수(-1, -2, -3, -4, -5, ...), 0 과 같이
소숫점 아래에 수가 없는 수라고 할 수 있다.

변수에 정수값을 저장한 후 정수로 변환하여 출력해보자.
'''

'\n정수(integer)는\n양의 정수(1, 2, 3, 4, 5, ...), 음의 정수(-1, -2, -3, -4, -5, ...), 0 과 같이\n소숫점 아래에 수가 없는 수라고 할 수 있다.\n\n변수에 정수값을 저장한 후 정수로 변환하여 출력해보자.\n'

In [2]:
x = int(input())
print(x)

3
3

In [2]:
# 6011
'''
숫자(0~9)와 소수점(.)을 사용해 표현한 수를 실수(real number)라고 한다.

변수에 실수값을 저장한 후
변수에 저장되어 있는 값을 그대로 출력해보자.
'''

'\n숫자(0~9)와 소수점(.)을 사용해 표현한 수를 실수(real number)라고 한다.\n\n변수에 실수값을 저장한 후\n변수에 저장되어 있는 값을 그대로 출력해보자.\n'

In [4]:
x = float(input())
print(x)

3.5
3.5

In [ ]:
# 6012
# 줄을 바꿔 정수(integer) 2개를 입력받아 줄을 바꿔 출력해보자

In [7]:
x = int(input())
y = int(input())
print(x)
print(y)

3
4
3
4

In [ ]:
# 6013
# 줄을 바꿔 문자(character) 2개를 입력받고, 순서를 바꿔 한 줄씩 출력해보자.

In [8]:
a = input()
b = input()
print(b)
print(a)

b
a
a
b

In [ ]:
# 6014
# 실수(real number) 1개를 입력받아 줄을 바꿔 3번 출력해보자.

In [9]:
r = float(input())
print(r)
print(r)
print(r)

3.5
3.5
3.5
3.5

In [ ]:
# 6015
'''
공백을 두고 입력된정수(integer) 2개를 입력받아 줄을 바꿔 출력해보자.
'''

In [5]:
x, y = map(int,input().split())
print(x)
print(y)

3 4
3
4

In [ ]:
# 6016
'''
공백을 두고 문자(character) 2개를 입력받아 순서를 바꿔 출력해보자.

'''

In [7]:
x, y = input().split()
print(y, x)

a b
b a

In [ ]:
# 6017
'''
정수(integer), 실수, 문자(character), 문자열(string) 등 1개만 입력받아 한 줄로 3번 출력해보자.
'''

In [9]:
x = input()
print(x, x, x)

4
4 4 4

In [ ]:
# 6018
'''
24시간 시:분 형식으로 시간이 입력될 때, 그대로 출력하는 연습을 해보자.
'''

In [12]:
h, m = input().split(':')
print(h,m,sep = ':')

24:56
24:56

In [ ]:
# 6019
'''
"연도.월.일"을 입력받아 "일-월-연도" 순서로 바꿔 출력해보자.

'''

In [19]:
y, m ,d = input().split('.')
print(d,m,y,sep = '-')

202.07.19
19-07-202

In [ ]:
#6020
'''
주민번호는 다음과 같이 구성된다.
XXXXXX-XXXXXXX

왼쪽 6자리는 생년월일(YYMMDD)이고, 오른쪽 7자리는 성별,출생지역,확인코드로 구성되어있다.
주민번호를 입력받아 형태를 바꿔 출력해보자.

입력
주민번호 앞 6자리와 뒷 7자리가 '-'로 구분되어 입력된다.
(입력값은 가상의 주민번호이다.)
ex)110011-0000000


출력
'-'를 제외한 주민번호 13자리를 모두 붙여 출력한다.

'''

In [30]:
orders = '아이스아메리카노,카라멜마키야또,에스프레소,아메리카노,아메리카노,아이스라떼,핫초코,아이스아메리카노,아메리카노,아이스카라멜마키야또,아이스라떼,라떼마키야또,카푸치노,라떼마키야또'

#1
list_orders = list(orders.split(','))
nums = len(list_orders)
print(f'총 {nums}잔의 주문이 들어왔습니다.')

#2
set_orders = set(list_orders)
print(set_orders)
set = list(set_orders)
set = set.sort(reverse = True)
print(set)

총 14잔의 주문이 들어왔습니다.

TypeError: 'NoneType' object is not callable