In [ ]:
# 6009
'''
문자(character)는
0\~9, a\~z, A\~Z, !, @, #, {, [, <, ... 과 같이 
길이가 1인 기호라고 할 수 있다.

변수에 문자 1개를 저장한 후
변수에 저장되어 있는 문자를 그대로 출력해보자.

예시
c = input()  
print(c)
'''

In [1]:
c = input()
print(c)

3
3

In [4]:
# 6010
'''
정수(integer)는
양의 정수(1, 2, 3, 4, 5, ...), 음의 정수(-1, -2, -3, -4, -5, ...), 0 과 같이
소숫점 아래에 수가 없는 수라고 할 수 있다.

변수에 정수값을 저장한 후 정수로 변환하여 출력해보자.
'''

'\n정수(integer)는\n양의 정수(1, 2, 3, 4, 5, ...), 음의 정수(-1, -2, -3, -4, -5, ...), 0 과 같이\n소숫점 아래에 수가 없는 수라고 할 수 있다.\n\n변수에 정수값을 저장한 후 정수로 변환하여 출력해보자.\n'

In [2]:
x = int(input())
print(x)

3
3

In [2]:
# 6011
'''
숫자(0~9)와 소수점(.)을 사용해 표현한 수를 실수(real number)라고 한다.

변수에 실수값을 저장한 후
변수에 저장되어 있는 값을 그대로 출력해보자.
'''

'\n숫자(0~9)와 소수점(.)을 사용해 표현한 수를 실수(real number)라고 한다.\n\n변수에 실수값을 저장한 후\n변수에 저장되어 있는 값을 그대로 출력해보자.\n'

In [4]:
x = float(input())
print(x)

3.5
3.5

In [ ]:
# 6012
# 줄을 바꿔 정수(integer) 2개를 입력받아 줄을 바꿔 출력해보자

In [7]:
x = int(input())
y = int(input())
print(x)
print(y)

3
4
3
4

In [ ]:
# 6013
# 줄을 바꿔 문자(character) 2개를 입력받고, 순서를 바꿔 한 줄씩 출력해보자.

In [8]:
a = input()
b = input()
print(b)
print(a)

b
a
a
b

In [ ]:
# 6014
# 실수(real number) 1개를 입력받아 줄을 바꿔 3번 출력해보자.

In [9]:
r = float(input())
print(r)
print(r)
print(r)

3.5
3.5
3.5
3.5

In [ ]:
# 6015
'''
공백을 두고 입력된정수(integer) 2개를 입력받아 줄을 바꿔 출력해보자.
'''

In [5]:
x, y = map(int,input().split())
print(x)
print(y)

3 4
3
4

In [ ]:
# 6016
'''
공백을 두고 문자(character) 2개를 입력받아 순서를 바꿔 출력해보자.

'''

In [7]:
x, y = input().split()
print(y, x)

a b
b a